
body {
  text-align : center;
  margin : auto;
}

#inputcontainer {
  position : absolute;
  left : -500px;
  top : -500px;
}

#actual_addmusic {
  display : hide;
}

#addmusic {
  background : #eee;
  padding : 10px;
  font-size : 120%;
  width : 200px;
  height : 50px;
  line-height : 50px;
  cursor : pointer;
}

.entry_list {
  overflow-x : hidden;
  overflow-y : auto;
  height : 90%;
}
.entry_list .entry .song_name {
  font-size : 13px;
  font-weight : bold;
}
.entry_list .entry .album_name {
  font-size : 60%;
  color : #600;
}
.entry_list .entry .artist_name {
  font-size : 60%;
  color : #666;
}
.entry_list .entry .entry_action,
.entry_list .entry .remove_action {
  font-weight : bold;
  font-size : 120%;
  color : #666;
  cursor : pointer;
}

audio {
}

#footer {
  position: fixed;
  bottom: -3px;
  width: 100%;
  background: #858585;
}

#player_column {
  float : left;  
  display : table-cell;
  width : 45%;
  margin : 0px 0px 0px 20px;
  padding : 10px;
  border : 1px solid;
}

#player_column > * {
  display : table-cell;
  padding : 10px;
}
#search_column {
  width : 45%;
  margin : 0px 10px 10px 10px;
  border : 1px solid;
  display : table-cell;
  float : right;
  height : 80%;
  text-align : left;
  padding : 12px;
}
#playlist_wrapper {
  width : 45%;
  margin : 200px 0px 10px 20px;
  border: 1px solid;
  height : 55%;
  text-align : left;
  padding : 10px;
}
