
.leftColumn(@float, @padding, @height:0, @width:0){
  float : @float;  
  display : table-cell;
  width : @width;
  height : @height;
  margin : 0px 18px;
  padding : @padding;
}

.skin(){
  background: rgb(66,66,66);
  background: 
    -moz-linear-gradient(
      top, 
      rgba(66,66,66,1) 17%, 
      rgba(33,33,33,1) 100%
    );
  background: -webkit-gradient( 
    linear, 
    left top, 
    left bottom, 
    color-stop(17%,rgba(66,66, 66,1 )), 
    color-stop( 100%,rgba(33,33,33,1 )) 
  );
  color : #fdfdfd;
  -webkit-shadow : 0px 3px 8px #444;
  -moz-shadow : 0px 3px 8px #444;
  box-shadow : 0px 3px 8px #444;
  border-radius : 10px;
}

body {
  text-align : center;
  margin : auto;
  background-image : url('/images/bg.jpg');
}

#player_column {
  .leftColumn(left, 0px, 150px, 47%);
  .skin;

  > * {
    display : table-cell;
    padding : 10px;
    vertical-align : middle;
  }

  #player_wrapper {
    width : 150px;
    height : 150px;
    
    img {
      border-radius : 5px;
      -webkit-shadow : 0px 0px 8px #888;
      -moz-shadow : 0px 0px 8px #888;
      box-shadow : 0px 0px 8px #888;
    }

    * { text-align : center; }
  }

  #player_controls { 
    text-align : left; 
    font-size : 13px;
    > * { padding : 5px; }
  } 

}

#search_column {
  .leftColumn(right, 12px, 80%, 45%);
  .skin;
  text-align : left;

  #addmusic {
    background : #eee;
    padding : 10px;
    font-size : 120%;
    width : 200px;
    height : 50px;
    line-height : 50px;
    cursor : pointer;
  }
}

#playlist_wrapper {
  .skin;
  width : 45%;
  margin : 200px 0px 10px 20px;
  height : 55%;
  text-align : left;
  padding : 10px;
}

.entry_list {
  overflow-x : hidden;
  overflow-y : auto;
  height : 90%;

  .entry {
    .song_name {
      font-size : 13px;
      font-weight : bold;
    }
    .album_name {
      font-size : 60%;
      color : #600;
    }
    .artist_name {
      font-size : 60%;
      color : #666;
    }
    .entry_action, .remove_action {
      font-weight : bold;
      font-size : 120%;
      color : #666;
      cursor : pointer;
    }
  }
}

#inputcontainer {
  position : absolute;
  left : -500px;
  top : -500px;
}

#actual_addmusic {
  display : hide;
}
