
body {
  text-align : center;
}

#inputcontainer {
  position : absolute;
  left : -500px;
  top : -500px;
}

#actual_addmusic {
  display : hide;
}

#addmusic {
  background : #eee;
  padding : 10px;
  font-size : 120%;
  width : 200px;
  height : 50px;
  line-height : 50px;
  cursor : pointer;
}

.entry_list .entry .song_name {
  font-weight : bold;
}
.entry_list .entry .album_name {
  font-size : 60%;
  color : #600;
}
.entry_list .entry .artist_name {
  font-size : 60%;
  color : #666;
}
.entry_list .entry .entry_action {
  font-weight : bold;
  font-size : 120%;
  color : #666;
  cursor : pointer;
}

audio {
  width: 100%;
}

#footer {
  position: fixed;
  bottom: -3px;
  width: 100%;
  background: #858585;
}

#player_wrapper {
}
