
.mainColumn(@float, @padding, @height:0, @width:0){
  float : @float;  
  display : table-cell;
  width : @width;
  height : @height;
  padding : @padding;
}

.boxShadow(@x, @y, @blur, @color){
  -webkit-box-shadow : @arguments;
  -moz-box-shadow : @arguments;
  box-shadow : @arguments;
}

.skin(){
  background: rgb(66,66,66);
  background: 
    -moz-linear-gradient(
      top, 
      rgba(66,66,66,1) 17%, 
      rgba(33,33,33,1) 100%
    );
  background: -webkit-gradient( 
    linear, 
    left top, 
    left bottom, 
    color-stop(17%,rgba(66,66, 66,1 )), 
    color-stop( 100%,rgba(33,33,33,1 )) 
  );
  color : #fdfdfd;
  .boxShadow(0px, 3px, 8px, #444);
  border-radius : 10px;
}

.customScroll(){
  &::-webkit-scrollbar {
    width : 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius : 10px;
    -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius : 10px;
    background-color : #ddd;
    -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.5);
  }
      
  &::-webkit-scrollbar-thumb:hover {
    background-color : #fff;
  }
}

.controls(@width, @height, @radius, @color) {
  width : @width;
  height : @height;
  border-radius : @radius;
  background-color : @color;
}

.radialGradient(){
  background-color:#999;
  background-image: 
    -moz-radial-gradient(50% 50%, ellipse closest-side, #aaa, #e6e6e6 100%);
  background-image: 
    -webkit-radial-gradient(50% 50%, ellipse closest-side, #aaa, #e6e6e6 100%);
  background-image: 
    -o-radial-gradient(50% 50%, ellipse closest-side, #aaa, #e6e6e6 100%);
  background-image: 
    -ms-radial-gradient(50% 50%, ellipse closest-side, #aaa, #e6e6e6 100%);
  background-image: 
    radial-gradient(50% 50%, ellipse closest-side, #aaa, #e6e6e6 100%);
}

.searchColumnChildren() {
  .customScroll;
  overflow-x : hidden;
  overflow-y : auto;
  height : 90%;
  border-radius : 5px;
  margin : 10px;

  box-shadow : inset 0 0 2px #888;
  -moz-box-shadow : inset 0 0 2px #888;
  -webkit-box-shadow : inset 0 0 2px #888;
}

body {
  font-family : 'Salsa', sans-serif;
  text-align : center;
  margin : auto;
  background-image : url('/images/bg.jpg');
}

.focused_entry{
  background-image: -webkit-linear-gradient(bottom, #666 0%, #888 100%);
  background-image: linear-gradient(bottom, #666 0%, #888 100%);
  background-image: -moz-linear-gradient(bottom, #666 0%, #888 100%);
}

.active_entry,{
  background-image: linear-gradient(bottom, #126BF6 0%,#40A8FF 100%);
  background-image: -moz-linear-gradient(bottom, #126BF6 0%,#40A8FF 100%);
  background-image: -webkit-linear-gradient(bottom, #126BF6 0%, #40A8FF 100%);
}

.entry_list {

  .searchColumnChildren();  

  .entry {
    padding : 2px 5px;
    border-radius : 2px;
    cursor : ns-resize;

    *{ 
      display : inline-block; 
      white-space : nowrap;
      overflow : hidden;
      margin : 0px 5px;
    }

    .song_name {
      font-size : 12px;
      width : 260px;
    }
    
    .album_name {
      font-size : 60%;
      color : #ccc;
      width : 130px;
    }

    .artist_name {
      font-size : 60%;
      color : #aaa;
      width : 90px;
      text-align : center;
    }
    .entry_action, .remove_action {
      font-weight : bold;
      font-size : 120%;
      color : #ccc;
      cursor : pointer;
    }
  }
}

.button(@size, @height, @width) {
    -moz-box-shadow:inset 0px 1px 0px 0px #9a9a9a ;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9a9a9a;
    box-shadow:inset 0px 1px 0px 0px #9a9a9a;
    background:
      -webkit-gradient( 
        linear, left top , left bottom, color-stop(0.05, #707070), 
        color-stop(1, #606060) 
      );
    background:
      -moz-linear-gradient( center top, #707070 5%, #606060 100% );
    
    display:inline-block;
    color:#fafafa;
    font-size : @size;
    width : @width;
    height : @height;
    padding : 8px;
    text-decoration:none;
    text-align : center;
    text-shadow: 1px 1px 0px #3b3b3b;
    border-radius : 8px;
    cursor : pointer;

    &:hover{
      background:
        -webkit-gradient( 
          linear, left top , left bottom, color-stop(0.05, #606060), 
          color-stop(1, #707070)
        );
      background:
        -moz-linear-gradient( center top, #606060 5%, #707070 100% );
      background-color:#707070;
    }
}

input[type="text"]{
  border-radius : 5px;
  border : none;
  height : 2em;
  width : 80%;
  margin-left : 10px;
  font-size : 14px;
  padding : 5px;
  text-shadow : 0 1px 0 #dedede;
  color : gray;
  box-shadow : inset 0 0 5px #666;
  -moz-box-shadow : inset 0 0 5px #666;
  -webkit-box-shadow : inset 0 0 5px #666;

  &:focus{
    outline-style : none;  
    color : #444;
    .boxShadow(0, 0, 5px, #aaa);
  }
}

#home_screen { 
  #addmusic { 
    .button(140%, 28px, 120px); 
    display : block;
    margin : auto;
    .boxShadow(0px, 0px, 8px, #666);
  } 

  #suggestion {
    display : inline;
    paddin : 5px;
    border-radius : 5px;
    font-family : Verdana;
    font-size : 12px;
    text-shadow : 0px 1px 0px #fff;
  }
}

#player_column {
  .mainColumn(left, 0px, 150px, 48%);
  .skin;
  margin : 20px 10px 5px 20px;

  > * {
    display : table-cell;
    padding : 5px;
    vertical-align : middle;
  }

  #player_wrapper {
    width : 140px;
    height : 150px;
    
    img {
      border-radius : 5px;
      width : 120px;
      height : 120px;
      .boxShadow(0px, 0px, 8px, #888);
    }

    * { text-align : center; }
  }

  #player_controls { 
    text-align : left; 
    font-size : 13px;

    > * { 
      padding : 5px; 
      text-shadow : 0px 1px 0px #111;
      display : table-cell;
    }

    #song_info { 

      div {
        width : 195px;
        margin : 4px 0px;

        .title { 
          width : 140px; 
        }
        .extern {
          a { margin: 5px; }
          img {
            height : 16px;
            vertical-align : middle;
            width : 16px;
            border-radius : 2px;
          }
        }
      }
    }

    #player_skin {
      position : relative; 
      vertical-align : middle;
      text-align : center;

      * { 
        display : inline-block; 
        vertical-align : middle;
      }
      #play { 
        .controls(100px, 100px, 50px, #666); 
        .radialGradient;
        .boxShadow(0, 0, 7px, #aaa);
        position : relative;
        z-index : 50;
        img{ margin : 20px 0px 0px 12px; }
      }
      #seeker {
        width : 272px;
        height : 136px;
        position : absolute;
        margin-left : -122px;
        margin-top : -18px;
      }
      #prev { 
        .controls(50px, 50px, 25px, #666); 
        .radialGradient;
        .boxShadow(0, 0, 5px, #aaa);
        margin-right : 15px;
        position : relative;
        z-index : 50;

        img { margin-top : 10px; }
      }
      #next { 
        .controls(50px, 50px, 25px, #666); 
        .radialGradient;
        .boxShadow(0, 0, 5px, #aaa);
        margin-left : 15px;
        position : relative;
        z-index : 50;

        img { margin-top : 10px; }
      }
      audio { display : none; }
    }

    #player_volume {
      width : 150px;
      display : inline-block;
      height : 0px;
    }
  } 

}

#search_column {
  .mainColumn(right, 12px, 88%, 45%);
  .skin;
  margin : 20px 20px 5px 10px;
  text-align : left;

  #search_bar {
    input { padding-right : 24px; }
    img {
      margin-left : -28px;
      margin-bottom : -3px;
      opacity : 0.6;
      cursor : pointer;
    }
  }

  #addall { 
    .button(110%, 22px, 50px); 
    margin-left : 5px;
  }

  #search_results {
    .searchColumnChildren();
    .entry { cursor : default; }
    display : none;
  }
  
  #shelf {
    .searchColumnChildren();
    img {
      width : 100px;
      height : 100px;
      border-radius : 3px;
      .boxShadow(0px, 0px, 8px, #222);
      cursor : pointer;

      &:hover { .boxShadow(0px, 0px, 8px, #060606); }
    }
  }

}

#playlist_wrapper {
  .mainColumn(left, 10px, 55%, 48%);
  .skin;
  margin : 10px 10px 5px 20px;
  display : inline-table;
  text-align : left;
}

#inputcontainer {
  position : absolute;
  left : -500px;
  top : -500px;
}

#actual_addmusic {
  display : hide;
}

#footer {
  position : absolute;
  bottom : 5px;
  font-family : Verdana;
  font-size : 60%;

  #sponsor {
    float : left;

    img {
      width : 24px;
      height : 24px;
      vertical-align : middle;
    }
  }

  #google_branding {
    float : right;
    margin-top : -20px;
  }
}
